################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ToYouEMS/Dockerfile
/ToYouEMS/Storage/resumes/*
.vs/
bin/
obj/
*.user
*.suo
*.userprefs
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.vsidx
